body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-image:url(img/fachando-negocio.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #161515; /* Cor do texto para contrastar com a imagem de fundo */
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#contrato {
    display: none;
    margin-top: 20px;
    width: 21cm;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    background-color: #dad7d7;
}

#contrato h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

#contrato p {
    text-align: justify;
    margin-bottom: 10px;
}

#contrato strong {
    font-weight: bold;
}

#contrato span {
    font-style: italic;
}


#botoes-contrato {
    text-align: center;
    margin-top: 20px;
}

#botoes-contrato button {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#botoes-contrato button:hover {
    background-color: #45a049;
}
#voltar-produto {
    position: absolute;
    top: 10px;
    right:10px;
    padding: 30px;
}