body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('img/car-logo-login.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
  
  header {
    width: calc(100% - 40px); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
  }
 #texto{
    color: #f5ecec;
 }
  
  .logo {
    font-family:initial;
    font-size: 2em;
    font-weight: bold;
    margin-left: 120px;
   
  }
  
  .header-buttons {
    display: flex;
  }
  
  .header-buttons button {
    margin-left: 10px;
    padding: 8px 25px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header-buttons button:hover {
    background-color: #45a049;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.5); /* Ajustando a opacidade para 80% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    margin: 20px; /* Adicionando margem para espaçamento vertical */
    margin-bottom: 10%;
  }
  
  #signup-container {
    display: none; /* Esconde a tela de cadastro inicialmente */
  }

  .background-image {
    background-image: url('img/fachando-negocio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  form {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 16px;
    color: #666666;
  }
  
  a {
    color: #4caf50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  